body{
    background-color: rgb(176, 231, 176);
}
h1 {
    background-color: rgb(127, 196, 118);
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-left-width: 50%;
    color: rgb(64, 117, 10);
    display: inline-block;
    align-items: center;
    width: 50%;
    padding: 20px;
}
h2{
    background-color: rgb(215, 224, 86);
    border-radius: 20px;
    color: rgb(158, 136, 8);
    display: inline-block;
    width: 100%;
    padding: 10px;
}
h3{
    background-color: rgb(188, 141, 233);
    border-radius: 20px;
    border-left-width: 25%;
    border-right: 25%;
    color: rgb(99, 6, 187);
    display: inline-block;
    width: 100%;
  
    padding: 15px 10px;
        
    
}
p{
    color: rgb(128, 18, 128);
}